# Игнорирование каталога:
tmp/

# Игнорирование файлов с суффиксом:
*.*_old

# Игнорирование файлов с суффиксом:
*.*_backup

# Игнорирование файла:
Thumbs.db

# Игнорирование файлов с расширением:
*.DS_Store
